.quiz .main-container {
	background-image: url(../img/glow-chair.JPG);
}

.page {
  display: none;
}

.page--visible {
  display: block;
}

.question {
  display: none;
}

.question--active {
  display: block;
}

.quiz-progress-container {
  margin-top: 40px;
}

.quiz-pages,
.quiz-breakdown {
  padding: 0;
  list-style: none;
}

.quiz-breakdown {
  padding-top: 20px;
}

.quiz .progress-bar {
	background-color: #424242;
}

.quiz .btn-primary {
    background-color: #666;
    border-color: #777;
}